body
{
  background-color: #000000;
  color: #ffffff;
}
/* Main content */
.main {
  margin-top: 20px; /* Add a top margin to avoid content overlay */
  margin: 50px;
}
h2 {
  text-align: center;
}
/* Change the background color of the accordion headers */
.accordion-item {
  background-color: #fff;
  color:#fff; /* Change to your desired background color */
}

/* Change the text color of the accordion headers */
.accordion-button {
  color: #000; /* Change to your desired text color */
}

/* Change the background color and text color of the accordion content */
.accordion-body {
  background-color: #121212; /* Change to your desired background color for content */
  color: #fff; /* Change to your desired text color for content */
}