body
{
  background-color: #000000;
  color: #ffffff;
}
/* Main content */
.main {
  margin-left: 50px;
}
h2 {
  text-align: center;
}
/* Change the background color of the accordion headers */
.accordion-button:not(.collapsed) {
  color: #fff;
  background: #000;  /* Change to your desired text color */
}

/* Change the text color of the accordion headers */
.accordion-button {
  color: #fff;
  background: #000;  /* Change to your desired text color */
}

/* Change the background color and text color of the accordion content */
.accordion-body {
  background-color: #121212; /* Change to your desired background color for content */
  color: #fff; /* Change to your desired text color for content */
}

/* Center-align the images horizontally */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250;
    height: 250;
}

/* Center-align the text */
.text-container {
  display: flex;
    justify-content: center;
    align-items: center;
}
/* Change the color of the button */
#reset {
  color: #fff;
  background-color: #000;
}
