body
{
  background-color: #000000;
  color: #ffffff;
}
/* Main content */
.main {
  margin-top: 20px; /* Add a top margin to avoid content overlay */
  margin: 50px;
}
h2 {
  text-align: center;
}
/* Ensure .accordion-flush inherits parent container styles */
.accordion {
  background-color: #000000; /* Match parent container background color */
  color: #ffffff; /* Match parent container text color */
}