<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>froshims</title>
    </head>
    <body>
        <form action="/register" method="post">
            <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
            <select name="sport">
                <option disabled selected>Sport</option>
                <option value="Basketball">Basketball</option>
                <option value="Soccer">Soccer</option>
            </select>
            <button type="submit">Register</button>
    </body>
</html>
