{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div class="">
        user: {{ username }}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Current Price</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <th>{{ stock["symbol"] }}</th>
                <th>{{ stock["shares"] }}</th>
                <th>{{ stock["price"] }}</th>
                <th>{{ stock["price"] * stock["shares"] }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/quote">
        <button class="btn btn-primary" type=""button>Back</button>
    </a>
{% endblock %}
