{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div class="mb-4">
        <h1 class="display-4">User: {{ username }}</h1>
        <h1 class="display-6">Balance: {{ cash }}</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Current Price</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <th>{{ stock["stock"] }}</th>
                <th>{{ stock["shares"] }}</th>
                <th>{{ stock["current"] }}</th>
                <th>{{ stock["value"] }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
