{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div class="mb-5">
        <h1 class="display-4">User: {{ username }}</h1>
        <h1 class="display-6">Balance: {{ cash }}</h1>
    </div>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <th>
                    <a href="/add">
                        <button class="btn btn-success btn-lg">Add money</button>
                    </a>
                </th>
                <th>
                    <a href="/change">
                        <button class="btn btn-primary btn-lg">Change password</button>
                    </a>
                </th>
            </tr>
            <tr>
                <th>
                    <a href="/withdraw">
                        <button class="btn btn-warning btn-lg">Withdraw money</button>
                    </a>
                </th>
                <th>
                    <a href="/quote">
                        <button class="btn btn-danger btn-lg">Delete account</button>
                    </a>
                </th>
            </tr>
        </tbody>
    </table>

{% endblock %}
